body {
  background-color: lightblue;
}

ul {
  list-style-type: none;
  float: right;
}
li {
  display: inline-block;
  vertical-align: bottom;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-container > div {
  background-color: #f1f1f1;
  width: 400px;
  margin: 10px;
  text-align: center;
  line-height: 200px;
  font-size: 25px;
}
footer {
  display: inline-block;
  list-style-type: none;
}
