* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  font-size: 20pt;
  text-decoration: none;
}
body {
  margin: 0;
}
#main {
  display: flex;
  min-height: calc(100vh - 40vh);
}
#main > article {
  flex: 1;
}
#main > nav {
  flex: 0 0 20vw;
  background: gold;
}
#main > nav {
  order: -1;
}
header,
footer,
article,
nav {
  padding: 1em;
}
header,
footer {
  background: gold;
  height: 30vh;
  color: black;
}
.flex-container > div {
  background-color: black;
  color: white;
  width: 300px;
  margin: 10px;
  text-align: center;
  line-height: 150px;
  font-size: 25px;
}

img {
  height: 130%;
}
